# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.logs
.mvn/

# Node / React
node_modules/
dist/
dist-ssr/
*.local
coverage/

# IDEs & OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Docker volumes / temp
data/
*.log
.env
